<style>
  .archived-alert {
    background-color: #fbf09f;
    padding-top: 1.2rem;
    padding-bottom: 1.2rem;
  }

  .archived-alert .alert__text {
    margin-bottom: 0;
  }
</style>
<section class="archived-alert" aria-label="Site alert">
  <div class="girdle">
    <div class="alert">
      <div class="alert__body">
        <h3 class="alert__heading">Usability.gov is archived and no longer updated</h3>
        <p class="alert__text">
          External links may not function and information on the site may be out of date. Visit <a href="https://digital.gov">digital.gov</a> for current information.
        </p>
      </div>
    </div>
  </div>
</section>
